[run]
source =
    service/backend
    service/yolo
    service/ocr
omit =
    service/backend/aux2.py
    service/backend/prueba.py
    */venv/*
    */site-packages/*

[report]
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
